@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

.App{
  font-family: 'Nunito', sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

body{
  background: #1F2937;
  color: white;
}

.Card{
  background: #111827;
  width: 500px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

h1{
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

a{
  color: black;
  background-color: white;
  padding: 5px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  text-decoration: none;
}

.center-text{
  text-align: center;
  font-size: 24px;
}

button{
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.green{
  background-color: #10B981;
}

.red{
  background-color: #EF4444;
}

label{
  margin: 20px 0 10px 0;
}

.top{
  margin-top: 20px;
}

.top span{
  margin-left: 20px;
}